/* static/css/custom.css */

/* Archive page custom styles */
.archive-page h2 {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-top: 20px;
}

.archive-page h2 span {
    position: absolute;
    right: 1; /* 将小标放在右上角 */
    top: 0;
    font-size: 16px;
    margin-left: 10px;
    color: #666;
}

.archive-page h3 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-top: 36px;
}

.archive-page h3 span {
    position: absolute;
    right: 1;
    top: 0;
    font-size: 16px;
    margin-left: 10px;
    color: #666;
}

.archive-page .post {
    font-size: 19px;
    color: #666;
    margin-bottom: 10px;
    margin-top: 40px;
}

.archive-page .post a {
    text-decoration: none;
}

.archive-page .post span {
    display: block;
    font-size: 14px;
    color: #888;
    margin-top: 2px;
}


